<div class="flex justify-content-center align-items-center w-full">
  <div class="flex flex-column sm:border-2 sm:border-round-xl sm:px-4 w-8 sm:w-3 my-4">
    <form [formGroup]="userDataForm" class="flex flex-column py-4">
      <div formGroupName="person" *ngIf="!showAccountPanel">
        <div class="flex sm:flex-row flex-column w-full">
          <mat-form-field class="w-12rem">
            <mat-label>Sex</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let g of Gender | keyvalue" [value]="g.key">{{ g.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="pl-2 w-12rem">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
        </div>

        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint></mat-hint>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="getEmailFormControl()!.invalid && getEmailFormControl()!.touched">Ungültige Email-Addresse
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Telefon</mat-label>
          <input matInput type="tel" formControlName="telPrivate">
          <mat-error *ngIf="getPhoneFormControl()!.invalid && getPhoneFormControl()!.touched">Telefonnummer</mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div formGroupName="privateAddress">
          <div class="flex flex-row">
            <mat-form-field class="w-24rem sm:w-28rem pr-2">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street">
              <mat-error *ngIf="getStreetFormControl()!.invalid && getStreetFormControl()!.touched">Enter Street
              </mat-error>
            </mat-form-field>
            <mat-form-field class="">
              <mat-label>Number</mat-label>
              <input matInput formControlName="number">
            </mat-form-field>
          </div>
          <div class="flex flex-row">
            <mat-form-field>
              <mat-label>Zip</mat-label>
              <input matInput formControlName="zipcode">
            </mat-form-field>
            <mat-form-field class="w-24rem sm:w-28rem pl-2">
              <mat-label>City</mat-label>
              <input matInput formControlName="city">
            </mat-form-field>
          </div>
          <mat-form-field class="w-full">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option>
                <ngx-mat-select-search [formControl]="searchCountryControl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let c of filtedCountryList | async" [value]="c.name">
                <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{c.code}}.svg"
                     class="w-2rem h-auto pr-2"> {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button [disabled]="userDataForm.invalid" color="primary" mat-raised-button (click)="forwardSignUp()"
                class="w-full">Weiter
        </button>
      </div>
    </form>
    <form [formGroup]="userAccountForm" class="flex flex-column py-4">
      <div formGroupName="accountDto" *ngIf="showAccountPanel">
        <div class="flex flex-column">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" type="text" formControlName="userName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password Confirm</mat-label>
            <input matInput placeholder="password" type="password" formControlName="passwordControl">
          </mat-form-field>
        </div>
        <div class="flex flex-row justify-content-between">
          <button color="primary" mat-raised-button (click)="backToSignUp()">Zurück</button>
          <button [disabled]="userDataForm.invalid && userAccountForm.invalid" color="primary" mat-raised-button (click)="signUp()">Weiter</button>
        </div>
      </div>
    </form>
  </div>
</div>
