<h1 mat-dialog-title>Trip wizzard</h1>
<mat-dialog-content>
  <div *ngIf="!showPlanner" class="flex flex-column justify-content-start">
    <p>
      Hi, <br>
      Willkommen bei deinem persönlichen Trip wizzard. Plane deinen unvergeesslichen Ausflug und lade deine Freunde dazu
      ein.
    </p>
    <p>
      Hier beginnt der erste Schritt zu deinem Abendteuer.
    </p>
    <mat-radio-group
      [(ngModel)]="eventType"
      class="flex flex-column justify-content-start"
    >
      @for (event of eventTypes;track event) {
        <mat-radio-button [value]="event">{{ event }}</mat-radio-button>
      }
    </mat-radio-group>
    <div class="flex justify-content-between">
      <span></span>
      <button mat-icon-button [disabled]="eventType === ''" (click)="next($event)">
        <mat-icon>double_arrow</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="showPlanner" class="flex flex-column justify-content-between">
    <app-festival *ngIf="eventType === 'Festival'"></app-festival>
    <app-camping *ngIf="eventType === 'Camping'"></app-camping>
    <app-roadtrip *ngIf="eventType === 'Raodtrip'"></app-roadtrip>
    <div class="flex">
      <p class="text-xs pr-1">Neustarten? Klicke</p>
      <p style="cursor: pointer; color: blue" class="text-xs" (click)="backToBeginn()">hier</p>
    </div>

  </div>

</mat-dialog-content>
