<mat-dialog-content>
<div style="background-color: white">
  <mat-radio-group [(ngModel)]="type" class="flex flex-column justify-content-start"
  >
    @for (type of types; track type) {
      <mat-radio-button [value]="type">{{ type }}</mat-radio-button>
    }
  </mat-radio-group>
</div>
  <mat-step [stepControl]="metaform">
    <form [formGroup]="metaform">
      <ng-template matStepLabel>Trip Info</ng-template>
      <div class="flex justify-content-start flex-column pt-2">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="My awesome Event" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Von</mat-label>
          <input matInput [matDatepicker]="picker_from" formControlName="from">
          <mat-datepicker-toggle matIconSuffix [for]="picker_from"></mat-datepicker-toggle>
          <mat-datepicker #picker_from></mat-datepicker>
          <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bis</mat-label>
          <input matInput [matDatepicker]="picker_to" formControlName="to">
          <mat-datepicker-toggle matIconSuffix [for]="picker_to"></mat-datepicker-toggle>
          <mat-datepicker #picker_to></mat-datepicker>
          <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Beschreibung</mat-label>
          <textarea matInput placeholder="Schreibe was zum Event" formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
<app-camping *ngIf="type === EventType.Camping"></app-camping>
<app-festival *ngIf="type === EventType.Festival"></app-festival>
<app-roadtrip *ngIf="type === EventType.Roadtrip"></app-roadtrip>
</mat-dialog-content>
