.profil-img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 2px solid black;
}

.absolute-position {
  left: -4rem;
  top: -4rem
}

.email-container {
  display: inline-flex;
  align-items: center;
}

.verification-status {
  font-size: 0.7em;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

.verified {
  background-color: green;
}

.not-verified {
  background-color: red;
}

.guest {
  color: aqua;
}

.user {
  color: var(--custom-primary-color)
}

.premium {
  color: gold;
}

.admin {
  color: cornflowerblue;
}
