<div class="flex justify-content-center">
  <mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="metaData">
      <form [formGroup]="metaData">
        <ng-template matStepLabel>Base</ng-template>
        <div class="flex flex-column justify-content-center px-4 pt-5 py-5 w-10">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="My-Awesome-Trip" formControlName="name">
          </mat-form-field>
          <div class="flex justify-content-between">
            <mat-form-field class="pr-2">
              <mat-label>Start</mat-label>
              <input matInput [matDatepicker]="start_picker" formControlName="from">
              <mat-datepicker-toggle matIconSuffix [for]="start_picker"></mat-datepicker-toggle>
              <mat-datepicker #start_picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ende</mat-label>
              <input matInput [matDatepicker]="to_picker" formControlName="to">
              <mat-datepicker-toggle matIconSuffix [for]="to_picker"></mat-datepicker-toggle>
              <mat-datepicker #to_picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex flex-row justify-content-between">
            <span></span>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="adresse">
      <form [formGroup]="adresse" class="flex flex-column justify-content-center">
        <ng-template matStepLabel>Ort</ng-template>
        <div class="flex flex-column justify-content-start pt-5 py-5 w-10">
          <div class="flex flex-row">
            <mat-form-field class="w-auto pr-2">
              <mat-label>Street</mat-label>
              <input matInput placeholder="Awesome-Street" formControlName="street">
            </mat-form-field>
            <mat-form-field class="w-3">
              <mat-label>Number</mat-label>
              <input matInput placeholder="1337" formControlName="number">
            </mat-form-field>
          </div>
          <div class="flex flex-row">
            <mat-form-field class="w-3">
              <mat-label>Zip</mat-label>
              <input matInput placeholder="12345" formControlName="zip">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput placeholder="Awesome-City" formControlName="city">
            </mat-form-field>
          </div>
          <mat-form-field class="w-8">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Awesome Country" formControlName="country">
          </mat-form-field>
        </div>
        <div class="flex flex-row justify-content-between">
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Invite" [stepControl]="friends">
      <form class="flex flex-column justify-content-center" [formGroup]="friends">
        <ng-template matStepLabel>Freunde einladen</ng-template>
        <div>
          @for (user of contributors;track user) {
            <div class="flex flex-row justify-content-between">
              <p>{{ user.name }}</p>
              <button mat-icon-button type="button" (click)="removeUser(user)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>

          }
        </div>
        <app-add-friends (selectionEmitter)="addUser($event)"></app-add-friends>
        <div class="flex flex-row justify-content-between">
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Summary">
      <div>
        <h1>Dein Campingausflug {{ getName() }}</h1>
        <mat-divider></mat-divider>
        <p>Hier findest du eine Zusammenfassung deiner vorläufigen Planung.
          Später kannst du noch weitere Tools verwenden um die Planung deines Campingausflug noch besser zu machen.</p>
        <mat-divider></mat-divider>
        <p><b>Von:</b> {{ getStart() }} <b>bis:</b> {{ getEnde() }}</p>
        <mat-divider></mat-divider>
        <p>{{getStreet()}} {{getNumber()}}</p>
        <p>{{getZip()}} {{getOrt()}}</p>
        <p>{{getCountry()}}</p>
        <mat-divider></mat-divider>
        <h2>Camperfreunde: </h2>
        @for (friend of getFriends(); track friend) {
          <p>{{friend.name}}</p>
        }
      </div>
      <button mat-raised-button type="button" (click)="save()"></button>
    </mat-step>
  </mat-stepper>
</div>
