<mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onDashboardClick()">Dashboard</button>
    <button mat-menu-item (click)="onHomeClicked()">Home</button>
    <button mat-menu-item (click)="onLogoutClicked()" >Logout</button>
  </mat-menu>
</mat-toolbar>

<div *ngIf="(isHandset$ | async) === true" class="h-full">
  <mat-sidenav-container class="h-full">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
    <mat-sidenav #sidenav>
      <mat-toolbar color="primary" class="example-toolbar">
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item (click)="onHomeClicked()">Home</mat-list-item>
        <mat-list-item (click)="onDashboardClick()">Dashboard</mat-list-item>
        <mat-list-item (click)="onLogoutClicked()" >Logout</mat-list-item>
        <mat-list-item >Hello</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Your content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>



