<div *ngIf="(isHandset$ | async) === false" class="h-full w-full">
  <mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <button mat-button (click)="onLoginClicked()">Login</button>
    <button mat-button (click)="onSignUpClicked()">SignUp</button>
    <button mat-button (click)="onLogoutClicked()">Logout</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDashboardClick()">Dashboard</button>
      <button mat-menu-item (click)="onHomeClicked()">Home</button>
      <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<div *ngIf="(isHandset$ | async) === true" class="h-full w-full">
  <mat-sidenav-container class="h-full w-full">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
    <mat-sidenav #sidenav class="w-full">
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item class="text-center" (click)="onHomeClicked()">
          <span class="text-2xl font-bold ">
            Home
          </span>
        </mat-list-item>
        <mat-list-item class="text-center" (click)="onDashboardClick()">
          <span class="text-2xl font-bold">
            Dashboard
          </span>
        </mat-list-item>
        <mat-list-item class="text-center" (click)="onLogoutClicked()">
          <span class="text-2xl font-bold">
            Logout
          </span>
        </mat-list-item>
        <mat-list-item class="text-center" (click)="onLoginClicked()">
          <span class="text-2xl font-bold">
            Login
          </span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Your content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>



