@use '../../node_modules/@angular/material/index' as mat;

// Definiere Farbpaletten
$primary-palette: mat.define-palette(mat.$indigo-palette, 600, 100, 700);
$accent-palette: mat.define-palette(mat.$pink-palette, 500, 100, 700);
$warn-palette: mat.define-palette(mat.$red-palette);

// Definiere dein eigenes Theme
$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: 0,
));

// Wende die core Styles und das Theme auf alle Komponenten an
@include mat.core();
@include mat.all-component-themes($custom-theme);

:root {
  --custom-primary-color: #{mat.get-color-from-palette($primary-palette)};
  --custom-primary-contrast: #{mat.get-color-from-palette($primary-palette, A100-contrast)};
  --custom-accent-color: #{mat.get-color-from-palette($accent-palette)};
  --custom-accent-contrast: #{mat.get-color-from-palette($accent-palette, A100-contrast)};
  --custom-warn-color: #{mat.get-color-from-palette($warn-palette)};
  --custom-warn-contrast: #{mat.get-color-from-palette($warn-palette, A100-contrast)};
  --custom-body-background-color: rgba(192, 201, 248, 0.46);
}

.bg-color-headline {
  background-color: var(--custom-primary-color);
  color: wheat;
}
